body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #222;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  text-align: center;
}

p {
  font-size: 15px;
  color: #727272;
  line-height: 2;
}

.header-area {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 87px;
  top: 0;
  z-index: 50;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #121212;
}

.logo__link {
  display: inline-block;
  height: 100%;
  padding: 20px 60px;
}

.logo__img {
  max-width: 100%;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar__link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 40px 10px 5px;
  margin-right: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.phone-number {
  margin-top: 50px;
  margin-right: 50px;
}

.phone-number__phone {
  display: inline-block;
  background: #baff00;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.home {
  text-align: center;
  background-size: cover;
  position: relative;
  height: 100%;
  background-image: url(../img/bg.jpg);
}

.home .sidebar {
  position: absolute;
  background: #121212;
  width: 100px;
  height: 100%;
  top: 0;
  z-index: 20;
}

.social-icons {
  position: absolute;
  bottom: 0;
  list-style: none;
  margin-bottom: 90px;
}

.social-icons__item {
  margin-bottom: 20px;
  width: 100%;
}

.social-icons__link {
  color: #838383;
  font-size: 20px;
}

.social-icons__link:hover {
  color: #baff00;
}

.content {
  position: relative;
  text-align: left;
  width: 35%;
  margin-left: 23%;
  margin-bottom: 3%;
  padding-left: 13%;
  padding-top: 23%;
  padding-bottom: 4%;
}

.content::before {
  position: absolute;
  content: "";
  height: 52%;
  width: 25%;
  border-top: 150px solid #baff00;
  border-left: 150px solid #baff00;
  border-bottom: 90px solid #baff00;
  top: 165px;
  left: 0;
  opacity: 0.73;
}

.content__title {
  color: #fff;
  line-height: 80px;
  font-size: 80px;
  font-family: inherit;
  font-weight: 700;
  margin: 10px 0;
}

.content__link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #fff;
  font: inherit;
  font-weight: 700;
  border: 4px solid;
  min-width: 200px;
  padding: 19px 0;
}

.content__link::after {
  position: absolute;
  content: "";
  bottom: 9px;
  right: -14px;
  border: 4px solid #fff;
  border-left-width: 0;
  border-right-width: 0;
  height: 6px;
  width: 26px;
}

.nav-arrows {
  position: absolute;
  display: inline-block;
  margin-left: 23%;
  left: 0;
  bottom: 70px;
}

.nav-arrows__item {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.nav-arrows__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  text-align: center;
}

.nav-arrows__link:hover {
  color: #baff00;
}

.nav-arrows__icon {
  margin-right: 5px;
}

.number {
  position: absolute;
  background: rgba(18, 18, 18, 0.95);
  width: 153px;
  height: 250px;
  right: 60px;
  bottom: -40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 60px;
  color: #fff;
  font-weight: 700;
}

.number__large {
  position: relative;
  font-size: 48px;
  color: #baff00;
  top: -10px;
  right: -10px;
}

.right-text {
  position: absolute;
  right: 140px;
  transform: rotate(-90deg);
  transform-origin: right center;
  bottom: 70%;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.our-studio {
  padding-bottom: 50px;
  padding-top: 100px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.container__title, .container__title_white {
  line-height: 1.2;
  font-size: 60px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0;
}

.container__title_green, .container__title_gray-green {
  background-color: #baff00;
}

.row, .row-wrap {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.column__title {
  line-height: 1.2;
  font-size: 60px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0;
}

.column__title_green {
  background-color: #baff00;
}

.column__text {
  margin-bottom: 50px;
}

.column__link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #222;
  font: inherit;
  font-weight: 700;
  border: 4px solid;
  width: 200px;
  padding: 19px 0;
}

.column__link::after {
  position: absolute;
  content: "";
  bottom: 9px;
  right: -14px;
  border: 4px solid #222;
  border-left-width: 0;
  border-right-width: 0;
  height: 6px;
  width: 26px;
}

.column__img {
  padding-top: 25px;
  padding-left: 15px;
}

.services {
  padding: 100px 0;
}

.row-wrap {
  flex-wrap: wrap;
}

.grid-element {
  width: 30.33333%;
  padding: 0 15px;
}

.service-box {
  margin-bottom: 30px;
}

.service-box__icon {
  width: 100px;
  height: 125px;
  position: relative;
  overflow: hidden;
  vertical-align: bottom;
  margin-bottom: 30px;
}

.service-box__icon::before {
  content: "";
  position: absolute;
  opacity: 0;
  width: 130%;
  height: 130%;
  background: #baff00;
  left: -26px;
  top: 9px;
  transform: rotate(-65deg);
}

.service-box:hover .service-box__icon::before {
  opacity: 1;
}

.service-box__icon-img {
  position: absolute;
  bottom: 0;
  opacity: .2;
  max-height: 70px;
  max-width: 100%;
}

.service-box:hover .service-box__icon-img {
  opacity: 1;
  padding: 2px 10px;
}

.service-box__title {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0;
}

.service-box__link {
  font-size: 12px;
  font-weight: 700;
  color: #222;
  display: inline-block;
  padding: 2px 0;
}

.service-box:hover .service-box__link {
  background-color: #baff00;
  padding: 2px 10px;
}

.motivation {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.motivation__picture {
  width: 50%;
  height: 100%;
  z-index: 1;
}

.motivation__image {
  position: absolute;
  left: 0;
  top: 100px;
}

.gray-card {
  position: absolute;
  background-color: #222;
  width: 50%;
  right: 0;
  padding: 100px 120px 50px;
  margin-bottom: 100px;
  z-index: 2;
}

.container__title_white {
  color: white;
}

.container__title_gray-green {
  color: #222;
}

.container__text_white {
  margin-bottom: 30px;
  color: white;
}

.container__icons {
  display: flex;
  justify-content: flex-start;
  vertical-align: bottom;
}

.container__icons .container__icon {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.container__icons .container__icon-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

.statistic {
  padding: 100px 0;
}

.row-element {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 25%;
  padding: 0 15px;
}

.row-element::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  left: -28px;
  top: 0;
  background: #efefef;
  z-index: 1;
}

.row-element__content {
  padding-top: 15px;
  padding-left: 43px;
}

.row-element__number {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 68px;
  font-weight: 700;
  z-index: 10;
}

.row-element__text {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 1.5;
  z-index: 10;
}

.projects {
  padding-bottom: 50px;
}

.projects-navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}

.projects-navbar__item {
  margin-left: 25px;
}

.projects-navbar__item_active, .projects-navbar__item:hover {
  background-color: #baff00;
  cursor: pointer;
}

.projects-navbar__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #747474;
  font-weight: 500;
  padding: 0 5px;
  cursor: pointer;
  transition: .4s;
}

.projects-slider {
  padding: 0 40px;
  margin-top: 90px;
}

.projects-slider__item {
  position: relative;
  width: 25%;
  margin-right: 20px;
  height: 550px;
}

.projects-slider__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.projects-slider__img {
  width: 100%;
  height: 100%;
}

.projects-slider__content {
  position: absolute;
  padding: 50px;
  background: rgba(13, 13, 13, 0.5);
  opacity: 0;
  height: 450px;
  width: calc(100% - 100px);
  top: 0;
  transition: all .4s ease 0s;
}

.projects-slider__item:hover .projects-slider__content {
  opacity: 1;
}

.projects-slider__title {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  top: 20px;
  margin: 0 auto 10px;
  transition: all .6s ease 0s;
}

.projects-slider__date {
  position: relative;
  color: #baff00;
  font-weight: 500;
  font-size: 15px;
  margin: 0 auto;
  top: 40px;
  transition: all .4s ease 0s;
}

.projects-slider__button {
  display: inline-block;
  position: absolute;
  background: #baff00;
  right: 50px;
  bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  padding: 2px 8px;
  transition: all .4s ease 0s;
}

.nav-controls {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  width: 100%;
  right: 0;
  bottom: 0;
}

.nav-controls__item {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  letter-spacing: 1px;
}

.nav-controls__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  text-align: center;
}

.nav-controls__link:hover {
  background-color: #baff00;
}

.nav-controls__icon {
  margin-right: 5px;
}
