$center: center;
$textcolor: #222;
$green: #baff00;
$gray: #747474;;

@mixin title {
    line-height: 1.2;
    font: {
        size: 60px;
        family: inherit;
        weight: 700;
    }
    margin-bottom: 40px;
    margin-top: 0;
}

@mixin sec-pad {
    padding-bottom: 50px;
    padding-top: 100px;
}

@mixin link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

@mixin flex ($center) {
    display: flex;
    justify-content: $center;
}

@mixin list {
    @include flex ($center);
    list-style: none;
}

@mixin section {
        text-align: center;
        background-size: cover;
        position: relative;
        height: 100%;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;  
}

html,
body {
    width: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $textcolor;
    padding: 0;
    margin: 0;
}

a {
    @include link;
}

p {
    font-size: 15px;
    color: #727272;
    line-height: 2;
}

.header-area {
    @include flex (flex-end);
    position: absolute;
    width: 100%;
    height: 87px;
    top: 0;
    z-index: 50;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #121212;
    

    &__link {
        display: inline-block;
        height: 100%;
        padding: 20px 60px;
    }

    &__img {
        max-width: 100%;
        vertical-align: middle;
    }
}

.navbar {
    @include list;

    &__link {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        padding: 40px 10px 5px;
        margin: 0 15px;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        

        &::before {
            content: "";
            position: absolute;
            top: -66px;
            left: 30px;
            height: 50px;
            width: 3px;
            margin: 0 auto;
            background-color: $green;
            transition: all .5s ease 0s;
        }

        &:hover {
            &::before {
                top: -16px; 
            }
        }
    }
}

.phone-number {
    margin-top: 50px;
    margin-right: 50px;

    &__phone {
        display: inline-block;
        background: $green;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 5px 10px;
    }
}

.home {
    @include section;
    background-image: url(../img/bg.jpg);

    .sidebar {
        position: absolute;
        background: #121212;
        width: 100px;
        height: 100%;
        top: 0;
        z-index: 20;
    }
}

.social-icons {
    position: absolute;
    bottom: 0;
    list-style: none;
    margin-bottom: 90px;

    &__item {
        margin-bottom: 20px;
        width: 100%;
    }

    &__link {
        color: #838383;
        font-size: 20px;

        &:hover {
            color: $green;
        }
    }
}

.content {
    position: relative;
    text-align: left;
    width: 35%;
    margin-left: 23%;
    margin-bottom: 3%;
    padding-left: 13%;
    padding-top: 23%;
    padding-bottom: 4%;

    &::before {
        position: absolute;
        content: "";
        height: 52%;
        width: 25%;
        border-top: 150px solid $green;
        border-left: 150px solid $green;
        border-bottom: 90px solid $green;
        top: 165px;
        left: 0;
        opacity: 0.73;
    }
    

    &__title {
        color: #fff;
        line-height: 80px;
        font: {
            size: 80px;
            family: inherit;
            weight: 700;
        }
        margin: 10px 0;
    }

    &__link {
        display: inline-block;
        position: relative;
        background-color: transparent;
        color: #fff;
        font: inherit;
        font-weight: 700;
        border: 4px solid;
        min-width: 200px;
        padding: 19px 0;

        &::after {
            position: absolute;
            content: "";
            bottom: 9px;
            right: -14px;
            border: 4px solid #fff;
            border-left-width: 0;
            border-right-width: 0;
            height: 6px;
            width: 26px;

        }
    }
}

.nav-arrows {
    position: absolute;
    display: inline-block;
    margin-left: 23%;
    left: 0;
    bottom: 70px;

    &__item {
        display: inline-block;
        margin-right: 30px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1px;
    }

    &__link {
        @include link;

        &:hover {
            color: $green;
        }
    }

    &__icon {
        margin-right: 5px;
    }
}


.number {
    position: absolute;
    background: rgba(18, 18, 18, 0.95);
    width: 153px;
    height: 250px;
    right: 60px;
    bottom: -40px;
    text-align: right;
    padding-right: 20px;
    padding-top: 60px;
    color: #fff;
    font-weight: 700;

    &__large {
        position: relative;
        font-size: 48px;
        color:$green;
        top: -10px;
        right: -10px;
    }
}

.right-text {
    position: absolute;
    right: 140px;
    transform: rotate(-90deg);
    transform-origin: right center;
    bottom: 70%;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.our-studio {
    @include sec-pad;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;

    &__title {
        @include title;

        &_green {
            background-color: $green;
        }

        &_white {
        @extend .container__title;
        color: white;
        }

        &_gray-green {
            @extend .container__title_green;
            color: $textcolor;
        }

        &_white {
            margin-bottom: 30px;
            color: white;
        }
    }
    
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 206px;
        height: 80px;
        margin: 0 10px 0;
    }

    &__img {
        opacity: .2;

        &:hover {
            opacity: 1;
        }
    }

    &-row__link {
        vertical-align: middle;
        text-align: center;
    }
    
    &__icons {
        @include flex(flex-start);
        vertical-align: bottom;

        &__icon {
            display: inline-block;
            position: relative;
            height: 80px;
            width: 50px;
            margin-right: 40px;
            margin-bottom: 30px;
        }
        
        &__icon-img {
            position: absolute;
            left: 0;
            bottom: 0;
            max-width: 100%;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title {
        @include title;

        &_green {
            background-color: $green;
        }
    }

    &__text {
        margin-bottom: 50px;
    }

    &__link {
        display: inline-block;
        position: relative;
        background-color: transparent;
        color: #222;
        font: inherit;
        font-weight: 700;
        border: 4px solid;
        width: 200px;
        padding: 19px 0;

        &::after {
            position: absolute;
            content: "";
            bottom: 9px;
            right: -14px;
            border: 4px solid #222;
            border-left-width: 0;
            border-right-width: 0;
            height: 6px;
            width: 26px;

        }
    }

    &__img {
        padding-top: 25px;
        padding-left: 15px;
    }
}

.services {
    padding: 100px 0;
}

.row-wrap {
    @extend .row;
    flex-wrap: wrap;
}

.grid-element {
    width: 30.33333%;
    padding: 0 15px;
}

.service-box {
    margin-bottom: 30px;

    &__icon {
        width: 100px;
        height: 125px;
        position: relative;
        overflow: hidden;
        vertical-align: bottom;
        margin-bottom: 30px;

        &::before {
            content: "";
            position: absolute;
            opacity: 0;
            width: 130%;
            height: 130%;
            background: $green;
            left: -26px;
            top: 9px;
            transform: rotate(-65deg);
        }
        
        .service-box:hover & {
            &::before {
            opacity: 1;
            }
        }
    }

    &__icon-img {
        position: absolute;
        bottom: 0;
        opacity: .2;
        max-height: 70px;
        max-width: 100%;

        .service-box:hover & {
            opacity: 1;
            padding: 2px 10px;
        }
    }

    &__title {
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    &__link {
        font-size: 12px;
        font-weight: 700;
        color: #222;
        display: inline-block;
        padding: 2px 0;
        
        .service-box:hover & {
            background-color:$green;
            padding: 2px 10px;
        }
    }
}

.motivation {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    &__picture {
        width: 50%;
        height: 100%;
        z-index: 1;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 100px;
    }
}

.gray-card {
    position: absolute;
    background-color: $textcolor;
    width: 50%;
    right: 0;
    padding: 100px 120px 50px;
    margin-bottom: 100px;
    z-index: 2;
}

.statistic {
    padding: 100px 0;
}

.row-element {
    position: relative;
    @include flex(flex-start);
    width: 25%;
    padding: 0 15px;

    &::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 110px;
        left: -28px;
        top: 0;
        background: #efefef;
        z-index: 1;
    }

    &__content {
        padding-top: 15px;
        padding-left: 43px;
    }

    &__number {
        display: inline-block;
        position: relative;
        margin: 0;
        font-size: 68px;
        font-weight: 700;
        z-index: 10;
    }
    
    &__text {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        margin-left: 10px;
        line-height: 1.5;
        z-index: 10;
    }
}

.projects {
    padding-bottom: 50px;
}

.projects-navbar {
    @include list;
    position: absolute;
    top: 0;
    right: 0;

    &__item {
        margin-left: 25px;
        
        &_active,
        &:hover {
        background-color: $green;
        cursor: pointer;
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 18px;
        color: $gray;
        font-weight: 500;
        padding: 0 5px;
        cursor: pointer;
        transition: .4s;
    }
}

.projects-slider {
    padding: 0 40px;
    margin-top: 90px;

    &__item {
        position: relative;
        width: 25%;
        margin-right: 20px;
        height: 550px;
    }

    &__image {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__content {
        position: absolute;
        padding: 50px;
        background: rgba(13,13,13,.5);
        opacity: 0;
        height: 450px;
        width: calc(100% - 100px);
        top: 0;
        transition: all .4s ease 0s;

        .projects-slider__item:hover & {
            opacity:1;
        }
    }

    &__title {
        position: relative;
        color: white;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;
        top: 20px;
        margin: 0 auto 10px;
        transition: all .6s ease 0s;
    }

    &__date {
        position: relative;
        color: $green;
        font-weight: 500;
        font-size: 15px;
        margin: 0 auto;
        top: 40px;
        transition: all .4s ease 0s;
    }

    &__button {
        display: inline-block;
        position: absolute;
        background: $green;
        right: 50px;
        bottom: 30px;
        font-size: 14px;
        font-weight: 700;
        color: $textcolor;
        padding: 2px 8px;
        transition: all .4s ease 0s;
    }
}

.nav-controls {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    width: 100%;
    right: 0;
    bottom: 0;

    &__item {
        display: inline-block;
        margin-right: 60px;
        font-size: 14px;
        font-weight: 700;
        color: $textcolor;
        letter-spacing: 1px;
    }

    &__link {
        @include link;

        &:hover {
            background-color: $green;
        }
    }

    &__icon {
        margin-right: 5px;
    }
}

.clients {
    padding: 100px 0;
}

.footer-section {
    position: relative;
    border-top: 1px solid #c8c8c8;
    padding: 110px 0;;
}

.col {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25%;

    &__item {
        display: block;
        margin-bottom: 10px;
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        color: #222222;
        padding: 0 5px;

        &:hover {
            background-color: $green;
        }
    }
}

.copyright {
    height: 100%;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #737373;
}

.footer-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #121212;
    width: 75px;
    height: 70%;
    top: -55px;
    right: 60px;
    z-index: 20;
}

.social-icons-new {
    margin: 0;
    padding: 0;
    bottom: 0;
    list-style: none;
    margin-top: 20px;
}